:root {
    --primary-color: blue;
    --secondary-color: white;
}

.dark {
    --primary-color: rgb(255, 7, 7);
    --secondary-color: white;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}